 body {
      font-family: Arial, sans-serif;
      background-color: #111;
      color: white;
      text-align: center;
      padding: 40px;
    }
button {
      margin: 10px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      color: white;
      background-color: rgb(82, 192, 60);
   }