 body {
      font-family: Arial, sans-serif;
      margin: 30px;
      background-color: lightcyan;
    }
    ul 
    { 
      list-style-type: none; 
      padding: 0; 
    }
    li { 
      margin: 5px 0; 
    }